<h1>Edit Lens</h1>
<div class="edit">
    <form action="/lenses/<%= @lens.id %>" method="post">
        <input type="hidden" name="_method" value="put"><br>

        <label for="make">Lens Make:</label>
        <input type="text" name="make" value="<%= @lens.make %>"><br>

        <label for="model">Lens Model:</label>
        <input type="text" name="model" value="<%= @lens.model %>"><br>

      <input type="submit" value="Update lens info"><br>

  </form><br>
</div>

<form action="/lenses/<%= @lens.id %>" method="post">
  <input type="hidden" name="_method" value="delete"><br>
  <input type="submit" value="Delete this lens"><br>
</form><br>

<br>
<br>
<a href="/cameras">Back</a>
