<h1>Add a new Lens</h1>

<form action="/lenses" method="post">

    <label for="make">Lens Make:</label>
    <input type="text" name="make">

    <label for="model">Lens Model:</label>
    <input type="text" name="model">

  <input type="submit" value="Create a new lens">

</form>

<br>
<br>
<a href="/cameras">Back</a>
