<h2>New Comment</h2>

<div class="new">
<p>
    Thank you <b><%= @comment.user.username %></b>, your comment:
    <br>
    <br>
    "<%= @comment.post %></b>"
    <br>
    <br>
    Was successfully added to <b><%= @comment.photo.name %></b>
</p>
</div>
<br>
<br>
<a href="/photos/<%=  @photo.id %>/comments">Back</a>
