<h2>Add a new Comment</h2>

<form action="/photos/<%= @photo.id %>/comments" method="post">

    <!-- <label for="user_id">Username:</label> -->
    <input type="hidden" name="user_id" value="<%= @user.id %>" readonly>

    <!-- <label for="photo_id">Photograph Name:</label> -->
    <input type="hidden" name="photo_id" value="<%= @photo.id %>" readonly>

    <label for="rating">Rate this photo:</label>
    <select name="rating">

        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>

    </select><br>
    <p>

    </p><br>

    <label for="post">Comment:</label>
    <input type="text" name="post">

  <input type="submit" value="Add your comment"><br>

</form>

<br>
<br>
<a href="/photos/<%= @photo.id %>/comments">Back</a>
