<h2>Welcome to [lost:photon]</h2>

<div class="introtext">
    <p>
        Hello and welcome to <a href="/">[lost:photon]</a>, a place for photographers to share their work and get valuable feedback.<br>
    </p><br>
</div>

<% if @photos.length > 0 %>
    <div class="homepageimg">
        <a href="/photos/<%= @photo.id %>"><img src="https://s3.amazonaws.com/lostphoton-assets/<%= @photo.object %>" alt="Random Image" /></a><br>
    </div>
<% else %>
    <div class="homepageimg">
        <a href="/photos"><img src="https://s3.amazonaws.com/lostphoton-assets/f63ca905c022b4fb0d7d.jpg" alt="Random Image" /></a><br>
    </div>
<% end %>

<div class="introtext">
    <p>
        Click here to <a href="/login">[login]</a> or <a href="/login">[signup]</a>.
    </p><br>
</div>
