<h2>Welcome to [lost:photon]</h2>

<div class="introtext">
    <p>
        Hello and welcome to <a href="/">[lost:photon]</a>, a place for photographers to share their work and get valuable feedback.<br>
    </p><br>
</div>

<div class="homepageimg">
    <a href="/photos/<%= @photo.id %>"><img src="img/<%= @photo.object %>" alt="Random Image" /></a><br>
</div>

<div class="introtext">
    <p>
        Click <a href="/login">here</a> to <a href="/login">[login]</a> or <a href="/login">[signup]</a>.
    </p><br>
</div>
