<h2>Welcome to [lost:photon]</h2>

<div class="new">
<p>
    Hi <b><%= @user.fullname %></b>, your username is: <b> <%= @user.username %> </b>!
</p>


    <% if @user.isphotographer == 'TRUE' %>
<p>
    As a photographer you can <a href="/photos">view</a>, <a href="/photos/new">add new</a>, and comment on photographs.
</p>
    <% else %>
<p>
    You can now <a href="/photos">view</a> and comment on photographs.
</p>
    <% end %>
</div>
