<h1>List of Users</h1>

<p>
    --- All Users ---
</p>
<p>
  <% @users.each do |user| %>
<div class="index">
    <p><a href="/users/<%= user.id%>"><%= user.username%></a></p>
</div>
    <% end %>
</p>
<p>
    --- All Photographers ---
</p>
<p>
    <% @photographers.each do |photographer| %>
<div class="index">
     <p><a href="/users/<%= photographer.id%>"><%= photographer.username%></a></p>
</div>
    <% end %>
</p>
