<h2>List of Users</h2>

<div class="userlist">
<div class="index">
<p>
    --- All Users ---
</p>
<p>
  <% @users.each do |user| %>

    <p><a href="/users/<%= user.id%>"><%= user.username%></a></p>

    <% end %>
</p>
</div>
<div class="index">
<p>
    --- All Photographers ---
</p>
<p>
    <% @photographers.each do |photographer| %>

     <p><a href="/users/<%= photographer.id%>"><%= photographer.username%></a></p>

    <% end %>
</p>
</div>
</div>
