<h2>Add a new User</h2>

<form action="/users" method="post">

    <label for="username">User Name:</label>
    <input type="text" name="username">

    <label for="fullname">Full Name:</label>
    <input type="text" name="fullname">

    <label for="password">Password:</label>
    <input type="password" name="password" placeholder="Enter Password"><br>

    <label for="isphotographer">Are you also a photographer?</label>
    <select name="isphotographer">

        <option value=TRUE>Yes</option>
        <option value=FALSE>No</option>

    </select>

  <input type="submit" value="Create a new user">

</form>

<br>
<br>
<a href="/users">Back</a>
