<h1>This is the user you were looking for!</h1>
<p>
    <b><%= @user.fullname %></b>, also known as: <%= @user.username %>
</p>
    <% if @user.isphotographer == 't' %>
        <p>
        This user is a <b>photographer</b>, and can post their photos.
        </p>
    <% else %>
        <p>
        This user cannot post photographs.
        </p>
    <% end %>
<a href="/users/<%= @user.id %>/edit">Edit this user</a>
