<h2>Welcome to [lost:photon]</h2>
<p>
    <b><%= @displayuser.fullname %></b>, also known as: <%= @displayuser.username %>
</p>
    <% if @displayuser.isphotographer == 't' %>
        <p>
        This user is a <b>photographer</b>, and can post their photos.
        </p>
    <% else %>
        <p>
        This user cannot post photographs.
        </p>
    <% end %>
    <% if @user.id == @displayuser.id %>
        <a href="/users/<%= @displayuser.id %>/edit">Edit this user</a>
    <% end %>
