/*@media screen and (min-width: 480px) {*/

  /******************
  TWO COLUMN LAYOUT
  *******************/

  /*#primary {
    width: 50%;
    float: left;
  }*/

  /*#secondary {
    width = 40%;
    float: right;
  }*/



  /******************
  PAGE: PORTFOLIO
  *******************/

  /*#gallery li {
    width: 28.3333%;
  }*/

  /*#gallery li:nth-child(4n) {
    clear: left;
  }*/



  /******************
  PAGE: ABOUT
  *******************/

  /*.profile-photo {
    float: left;
    margin: 0 5% 80px 0;
  }*/

/*}*/

@media screen and (min-width: 750px) {

  /******************
  PAGE: HEADER
  *******************/

  .currentuser {
      /*position: absolute;*/
      vertical-align: middle;
      /*display: inline-block;*/
      font-weight: bold;
      text-decoration: underline;
      /*width: 100%%;*/
      /*max-width: 100%;
      min-width: 20%;*/
      float: right;
      padding-right: 5%;
      margin-top:-25px;
      font-family: 'Amatic SC', cursive;
      /*font-weight: bold;*/
      font-size: 1.5em;
  }

  .navbar {
      width: 100%;
      	float: left;
      	margin: 0 0 1em 0;
      	padding: 0;
      background-color: lightgrey;
      /*padding: 10px;*/
      /*float: left;*/
      /*margin: -60px 0 30px -2.5%;*/
      margin: -60px 0 30px 0;
      padding: 5px 0 0 0;
      /*width:105%;*/
  }

  /*.navbar ul li {
      display: inline-block;
      text-align: left;
      margin-left: 2%;
      font-family: 'Amatic SC', cursive;
      font-size: 1.5em;
  }*/

  .navbar li {
      display: inline-block;
      text-align: left;
      /*margin-left: 2%;*/
      font-family: 'Amatic SC', cursive;
      font-size: 1.5em;
  }

  .navbar ul {
      text-align: left;
      margin-top: 20px;
      padding-left: 5%;
      /*margin-left: 5%;*/
      /*display: inline-block;*/
      /*position: absolute;*/
      /*width: 50%;*/
      /*width: 100%;*/
  }

  h1 {
      text-align: center;
      font-family: 'Amatic SC', cursive;
      /*font-weight: bold;*/
      font-size: 3em;
      margin: -5px;
  }

  .loginsignup {
          /*position: relative;*/
      /*display: inline-block;*/
      /*margin: 0 auto;
      width: 300px;*/
      /*padding: 2%;*/
          position: relative;
          /*overflow: hidden;*/
          vertical-align: top;
          text-align: center;
          /*margin: 50px;*/
  }

  .login {
      display:inline-block;
            border-radius: 8px;
      width: 300px;
      height: 300px;
      /*border: 2px solid grey;*/
      /*overflow:scroll;*/
      vertical-align: top;
      /*margin-bottom: 20px;*/
      margin: 12px;
      box-shadow: 10px 8px 16px 0px rgba(0,0,0,0.2);
  }

  .signup {
      display:inline-block;
            border-radius: 8px;
      width: 300px;
      height: 300px;
      /*border: 2px solid grey;*/
      /*overflow:scroll;*/
      vertical-align: top;
      /*margin-bottom: 20px;*/
      margin: 12px;
      box-shadow: 10px 8px 16px 0px rgba(0,0,0,0.2);
  }

  .photos {
      width: 300px;
      height: 430px;
      overflow:scroll;
  }

  .showphoto img {
      max-width: 100%;
      max-height: auto;
  }
  /*nav {
    background: none;
    float: right;
    font-size: 1.125em;
    margin-right: 5%;
    text-align: right;
    width: 45%;
  }*/

  /*#logo {
    float: left;
    margin-left: 5%;
    text-align: left;
    width: 45%;
  }*/

  /*h1 {
    font-size: 2.5em
  }*/

  /*h2 {
    font-size: 0.825em;
    margin-bottom: 20px;
  }*/

  /*header {
    border-bottom: 5px solid #475860;
    margin-bottom: 60px;
  }*/


}
