/*a {
    color: black;
    text-decoration: none;
    font-weight:bold;
}*/

/*dropdown navar stuff*/

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120%;
    width:100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 4px 16px;
    overflow:auto;
    border-radius: 3px;
    font-weight:normal;
    font-size: 0.7em;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.navbar ul li {
    display: inline-block;
    text-align: left;
    margin-left: 2%;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

img {
    max-height:300px;
}

a {
    color: black;
    text-decoration: none;
    font-weight:bold;
}

.navbar {
    background-color: lightgrey;
    padding: 1px;
    width: auto;
    float: left;
    margin: 0 0 30px 0;
    padding: 5px 0 0 0;
    width: 100%;
}

.currentuser {
    display: inline-block;
    font-weight: bold;
    text-decoration: underline;
    width: auto;
    color: grey;
    float: right;
    margin-right: 80px;
    margin-top:-17px;
}

.photos {
    display:inline-block;
    width: 30%;
    height: 400px;
    overflow:scroll;
    vertical-align: top;
    margin-bottom: 20px;
}

.photos::-webkit-scrollbar {
display: none;
}

/*.photo a {
}

.photo img {
    width: 250px;
    height: 250px;
}*/

.photo {
    width: 300px;
    height: 300px;
    overflow: hidden;
    margin: auto;
    position: relative;
}
.photo img {
    position: absolute;
    left: -1000%;
    right: -1000%;
    top: -1000%;
    bottom: -1000%;
    margin: auto;
    min-height: 100%;
    min-width: 100%;
    max-height: 50%;
}

.photostoprated {
    text-align: center;
    width:50%;
    margin-left: 20%;
}

.photostoprated h3 {
    float:left;
}

.photoscomments {
    position: relative;
    overflow: hidden;
    vertical-align: top;
    text-align: center;
    margin: 50px;
}

.photoscomments a {
    color: black;
    text-decoration: none;
    font-weight:bold;
}

.navbar a {
    color: black;
    text-decoration: none;
    font-weight:bold;
}

.edit {
    /*text-align: center;*/
    width: 70%;
    margin:auto;
    display: inline;
    float: left;
}

.edit label {
    float:left;
    width: 500px;
    height: 20px;
}

.edit input {
    float:left;
}

.editphoto {
    display: inline-block;
}

.newphoto {
    /*text-align: center;*/
    width: 70%;
    margin-right: 40%;
    float: left;
}

.newphoto label {
    float:left;
    width:600px;
    height: 20px;
}

.newphoto label {
    float:left;
    display:block;
}

footer {
    text-align:center;
}

.equipmentlist {
    display: inline-block;
    width: 100%;
    margin: 10px;
}

.userlist {
    display: inline-block;
    width: 100%;
    margin: 10px;
}

.index {
    text-align:center;
    float: left;;
    width: 50%;
}

.loginsignup {
    display: inline-block;
    width: 95%;
    padding: 2%;
}

.login {
    border-radius: 8px;
    vertical-align: center;
    width:40%;
    float: left;
    text-align: center;
    border: 2px solid grey;
    margin:20px;
    padding:20px;
    height: 150px;
}

.signup {
    border-radius: 8px;
    vertical-align: center;
    width:40%;
    float: right;
    text-align: center;
    border: 2px solid grey;
    margin:20px;
    padding:20px;
    height: 150px;
}

.loginsignup input {
    float:left;
    width: 100px;
}

.loginsignup label {
    float:left;
    width: 300px;
    height: 20px;
}
