a {
 text-decoration: none;
}

.photostoprated img {
    max-width: 100%;
}

.homepageimg img {
    max-width: 100%;
}

#wrapper {
	min-height:100%;
	position:relative;
}

#header {
    /*width: 100%;*/
	/*background:#ededed;
	padding:10px;*/
}
#content {
    /*max-width: 1280px;
     margin: 0 auto;
     padding: 0 5%;*/
	padding-bottom: 141px; /* Height of the footer element */
}
#footer {
	/*background:#ffab62;*/
	width:100%;
	/*height:100px;*/
	position:absolute;
	bottom:0;
	left:0;
    clear:both;
}

body > div {
    transition:all 0.5s ease;
}

body {
    font-family: 'Poiret One', cursive;
    /*font-family: 'Amatic SC', cursive;
    font-size: 1em;*/
    transition:all 0.5s ease;
    background: #50747e;
    /*opacity: 0.5;*/
    color: darkgrey;
}

.dropdown {
    position: relative;
    display: inline-block;
    transition:all 0.5s;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120%;
    width:100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 4px 16px;
    overflow:auto;
    border-radius: 3px;
    font-weight:normal;
    font-size: 0.7em;
}

.dropdown:hover .dropdown-content {
    display: block;
    color: grey;
}

.dropdown-content a:hover {background-color: lightgrey;}

nav {
    /*flex: auto;*/
    /*width: 100%;*/
}

.navbar {
    width: 100%;
      float: left;
      margin: 0 0 1em 0;
      /*padding: 5%;*/
    display: inline-block;
    background-color: lightgrey;
    /*padding: 10px;*/
    /*float: left;*/
    /*margin: -60px 0 30px -2.5%;
    padding: 5px 0 0 0;*/
    /*width: 105%;*/
}

.navbar li {
    display: inline-block;
    text-align: left;
    /*margin-left: 2%;*/
    font-family: 'Amatic SC', cursive;
    font-size: 1.5em;

}

.navbar ul {
    margin: 0;
    padding: 0;
    text-align: center;
    /*margin-left: 5%;*/
    display: block;
    /*position: absolute;*/
    /*width: 50%;*/
    /*width: 100%;*/
}

.navbar a {
    color: black;
    text-decoration: none;
    font-weight:bold;
}

.currentuser {
    /*position: absolute;*/
    vertical-align: middle;
    /*display: inline-block;*/
    font-weight: bold;
    text-decoration: underline;
    /*width: 100%%;*/
    /*max-width: 100%;
    min-width: 20%;*/
    /*float: right;*/
    text-align: center;
    padding: 0;
    /*margin-top:-25px;*/
    font-family: 'Amatic SC', cursive;
    /*font-weight: bold;*/
    font-size: 1.5em;
}

.currentuser a {
    color: grey;
    font-size: 1em;
    transition:all 0.5s ease;
}

.currentuser a:hover {
    color: black;
}

h1 {
    text-align: center;
    font-family: 'Amatic SC', cursive;
    /*font-weight: bold;*/
    font-size: 3em;
    /*margin: -5px;*/
}

h2 {
    text-align: center;
    text-decoration:underline overline;;
    font-family: 'Amatic SC', cursive;
    /*font-weight: bold;*/
    font-size: 2em;
}

h3  {
    font-family: 'Amatic SC', cursive;
    /*font-weight: bold;*/
    font-size: 1.2em;
}

h4 {
    font-family: 'Amatic SC', cursive;
    /*font-weight: bold;*/
    font-size: 1.2em;
}

img {
    max-height:300px;
}

a {
    color: black;
    text-decoration: none;
    font-weight:bold;
}

.introtext {
    text-align: center;
}

.homepageimg {
    text-align: center;
    margin: auto;
}

footer {
    background-color: lightgrey;
    padding: 1px;
    float: left;
    margin: 0 0 30px -2.5%;
    padding: 5px 0 0 0;
    width: 105%;
    height: 20px;
    font-family: 'Amatic SC', cursive;
    /*font-weight: bold;*/
    /*font-size: 1.2em;*/
}

footer p {
    margin-top: -2px;
}

.loginsignup {
        /*position: relative;*/
    /*display: inline-block;*/
    /*margin: 0 auto;
    width: 300px;*/
    /*padding: 2%;*/
        position: relative;
        /*overflow: hidden;*/
        vertical-align: top;
        text-align: center;
        /*margin: 50px;*/
}

.loginsignup h3 {
    font-size: 2em;
}

.login {
    display:inline-block;
          border-radius: 8px;
    width: 300px;
    height: 300px;
    /*border: 2px solid grey;*/
    /*overflow:scroll;*/
    vertical-align: top;
    /*margin-bottom: 20px;*/
    margin: 12px;
    box-shadow: 10px 8px 16px 0px rgba(0,0,0,0.2);
}

.signup {
    display:inline-block;
          border-radius: 8px;
    width: 300px;
    height: 300px;
    /*border: 2px solid grey;*/
    /*overflow:scroll;*/
    vertical-align: top;
    /*margin-bottom: 20px;*/
    margin: 12px;
    box-shadow: 10px 8px 16px 0px rgba(0,0,0,0.2);
}

.loginsignup input {
    display:inline-block;
    text-align: left;
    margin: 1%;
    /*float:left;*/
    /*width: auto;*/
}

.loginsignup label {
    display:inline-block;
    text-align: left;
    /*float:left;*/
    /*width: 300px;
    height: 20px;*/
}

.photos {
    display:inline-block;
    width: 300px;
    height: 410px;
    overflow:scroll;
    vertical-align: top;
    /*margin-bottom: 20px;*/
    margin: 12px;
    box-shadow: 10px 8px 16px 0px rgba(0,0,0,0.2);
}

.photos::-webkit-scrollbar {
display: none;
}

/*.photo a {
}

.photo img {
    width: 250px;
    height: 250px;
}*/

.photo {
    width: 300px;
    height: 300px;
    overflow: hidden;
    margin: auto;
    position: relative;
    transition:all 1s ease;
}
.photo img {
    position: absolute;
    left: -1000%;
    right: -1000%;
    top: -1000%;
    bottom: -1000%;
    margin: auto;
    min-height: 100%;
    min-width: 100%;
    max-height: 50%;
}

.photostoprated {
    text-align: center;
    width:70%;
    margin-left: 20%;
}

.photostoprated h3 {
    float:left;
}

.photoscomments {
    position: relative;
    overflow: hidden;
    vertical-align: top;
    text-align: center;
    /*margin: 50px;*/
}

.photoscomments a {
    color: black;
    text-decoration: none;
    font-weight:bold;
}

.showphoto img {
    max-height: 100%;
    height:450px;
}



.edit {
    /*text-align: center;*/
    width: 70%;
    margin:auto;
    display: inline;
    float: left;
}

.edit label {
    float:left;
    width: 500px;
    height: 20px;
}

.edit input {
    float:left;
}

.editphoto {
    display: inline-block;
}

.newphoto {
    /*text-align: center;*/
    /*width: 70%;
    margin-right: 40%;*/
    display:inline-block;
          border-radius: 8px;
    width: 300px;
    /*height: 300px;*/
    padding: 5px;
    /*border: 2px solid grey;*/
    /*overflow:scroll;*/
    vertical-align: top;
    /*margin-bottom: 20px;*/
    margin: 12px;
    box-shadow: 10px 8px 16px 0px rgba(0,0,0,0.2);
}

.newphoto label {
    float:left;
    width:600px;
    height: 20px;
    display:block;
}

.addnewcomment {
    /*text-align: center;*/
    /*width: 70%;
    margin-right: 40%;*/
    display:inline-block;
          border-radius: 8px;
    width: 300px;
    /*height: 300px;*/
    padding: 5px;
    /*border: 2px solid grey;*/
    /*overflow:scroll;*/
    vertical-align: top;
    /*margin-bottom: 20px;*/
    margin: 12px;
    box-shadow: 10px 8px 16px 0px rgba(0,0,0,0.2);
}

.edituser {
    /*text-align: center;*/
    /*width: 70%;
    margin-right: 40%;*/
    display:inline-block;
          border-radius: 8px;
    width: 300px;
    /*height: 300px;*/
    padding: 5px;
    /*border: 2px solid grey;*/
    /*overflow:scroll;*/
    vertical-align: top;
    /*margin-bottom: 20px;*/
    margin: 12px;
    box-shadow: 10px 8px 16px 0px rgba(0,0,0,0.2);
}

footer {
    text-align:center;
}

.equipmentlist {
    display: inline-block;
    width: 100%;
    margin: 10px;
}

.userlist {
    display: inline-block;
    width: 100%;
    margin: 10px;
}

.index {
    text-align:center;
    float: left;;
    width: 50%;
}



.mostphotos {
    text-align: center;
    width:auto;
}

.mostphotos h4 {
    border: 2px solid lightgrey;
    width: 40%;
    margin: auto;
    border-radius: 8px;
}

input {
    border: 0;
    border-radius: 3px;
    box-shadow: 0px 4px 16px 0px rgba(0,0,0,0.2);
}



.toprate {
    display: inline-block;
    text-align: center;
    float: none;
    margin: auto;
}

.mostusedcamera {
    display: inline-block;
    width: 49%;
    text-align: center;
}

.mostusedlens {
    display: inline-block;
    width: 49%;
    text-align: center;
}
