<h1><%= @photo.name %> by <%= @photo.photographer.username %></h1>

<p>
    <img src="../img/<%= @photo.object %>" />
</p>

    <!-- <#% if @user.isphotographer == 't' %>
        <p>
        This user is a <b>photographer</b>, and can post their photos.
        </p>
    <#% else %>
        <p>
        This user cannot post photographs.
        </p>
    <#% end %> -->

<!-- Maybe add loop through photographers, and if they match the user id (aka user is also a photographer) then display the eidt button below! -->
<a href="/photos/<%= @photo.id %>/edit">Edit this photograph</a>
